<%
    var params = typeof(locals) !== 'undefined' ? locals : {};
    params = Object.assign({
        helmet                  : {
            title: 'Belanja Online Aman, Nyaman, Terpercaya | MatahariMall.com',
            meta: 'Situs belanja online terbesar yang menyediakan ratusan ribu pilihan produk dengan harga paling murah. Belanja online aman, nyaman, dan lengkap tanpa ongkir disini',
        },
        state                   : null,
        markup                  : '',
        manifest                : '',
        manifestFileContents    : ''
    }, params);
%>

<!DOCTYPE html>
<html lang="id" <% if (params.helmet.htmlAttributes) { %><%= params.helmet.htmlAttributes.toString() %><% } %>>
    <head>
        <!-- we're looking for more people to join at MatahariMall.com. Interested? https://www.mataharimall.com/static/4/karir -->
        <meta name="google-site-verification" content="bVdL10GtDccBSiuntKghg8GHQ85nozeqhdYrCB4tPHg" />
        <link rel="manifest" href="./assets/manifest/manifest.json" />
        <meta name="robots" content="NOINDEX, NOFOLLOW, NOODP, NOYDIR">
        <% if (params.helmet.title) { %><title><%= params.helmet.title.toString() %></title><% } %>
        <% if (params.helmet.meta) { %><meta name="description" content="<%= params.helmet.meta.toString() %>" /><% } %>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="theme-color" content="#DA1818" id="themeColor" />
        <meta name="full-screen" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#DA1818" />
        <meta name="apple-mobile-web-app-title" content="MatahariMall" /> 
        <% if (params.manifest['main.css']) { %>
            <link rel="stylesheet" href="<%= params.manifest['main.css'] %>" />
        <% } %>
        <link rel="canonical" href="https://www.mataharimall.com" />
        <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.mataharimall.com" />
        <link rel="shortcut icon" href="https://assets.mataharimall.co/images/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
        <link rel="icon" href="https://assets.mataharimall.co/images/favicon.ico" type="image/x-icon" />
        <meta name="theme-color" content="#DA1818" />

        <!-- Load Jquery for GTM, and Partners who using JQuery -->
        <script src="https://assets.mataharimall.co/desktop/js/min/jquery.min.js"></script>
        <!-- END Load Jquery -->

        <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','<%= process.env.GTM_KEY %>');
        </script>
        <!-- End Google Tag Manager -->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script src="https://cdn.ravenjs.com/3.17.0/raven.min.js"
				crossorigin="anonymous"></script>
        <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChjpQSbwKaJOCJy_06GAwU9dNMwVq_rg4&libraries=places&region=id&language=id"></script> -->
        <script type="text/javascript" src="<%= process.env.VT_JS %>"></script>
        <% if (process.env.NODE_ENV === 'production') { %>
            <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
            <script>Raven.config('https://af6e3248ca6f4d8d8c3e669f6fd6e4e4@sentry.io/215821').install();</script>
        <% } %>
    </head>
    <body <% if (params.helmet.htmlAttributes) { %><%= params.helmet.bodyAttributes.toString() %><% } %>>
        <noscript>
            <!-- display some content when JavaScript is disabled -->
            <h1>You don’t have javascript enabled.</h1>
            <p>Please enable it to get the full experience.</p>
        </noscript>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= process.env.GTM_KEY %>"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="root"><%= params.markup %></div>
        <% if (params.state) { %>
            <script>window.__REDUX_STATE__ = <%= JSON.stringify(params.state) %></script>
        <% } %>
        <% if (params.manifestFileContents) { %>
            <script><%= params.manifestFileContents %></script>
            <script src="<%= params.manifest['vendors.js'] %>"></script>
            <script src="<%= params.manifest['main.js'] %>"></script>
        <% } %>
        <script src="./service-worker.js"></script>
    </body>
    <!-- <script type="text/javascript">
        function confirmExit() {
            return "Are you sure want to exit?";
        }
        window.beforeunload = confirmExit;
        window.onbeforeunload = confirmExit;
    </script> -->
</html>